global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'car-pricing-microservice'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'pricing-api'
    static_configs:
      - targets: ['api:8000']
    metrics_path: '/metrics'
    scrape_interval: 5s
    scrape_timeout: 5s
